PORT=5000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173

# Nodemailer (Gmail)
EMAIL_USER=razafimahatradraibeeritauleina@gmail.com
EMAIL_PASS=Eritau_leonardo_#*****
EMAIL_TO=razafimahatradraibeeritauleina@gmail.com
